<div class="columns">
    <div class="column">
        <h2>About Ondrej</h2>
        <article>
            <p>I am a self taught developer from Czech Republic (Central Europe) who always loved computers and has been working remotely since 2012.</p>
            <p>I have a Master's degree in Management and Marketing, but my love for computers was stronger, and during study, I've started learning how to make mobile apps.</p>
            <p>After that, I've got hooked on programming, and I started expanding my knowledge to programming web apps, databases, servers, testing, games, and more.</p>
            <p>I see myself as Jack of All Trades. I don't specialize. I prefer a general understanding of many programming languages, frameworks, and concepts which allow me to  jump into anything new quickly.</p>
            <p>If I am not coding or learning, I love to work out, especially doing heavy deadlifts and hiking in the mountains. I am also very strict about my diet. I also own Nintendo Switch, and I am huge fan of Nintendo games.</p>
        </article>
    </div>
    {% include skills.html %}
</div>
