<h2><a href="{{include.link}}.html">{{include.category}}</a></h2>
<div class="columns">
{% for post in site.categories[include.category] limit:3 %}
    <div class="column is-one-third">
    <a href="{{ post.url }}">
    <div class="card">
        <div class="card-image">
        <figure class="image is-16by9">
            {% if post.image %}
                {% responsive_image_block %}
                    path: {{ post.image }}
                {% endresponsive_image_block %}
            {% endif %}
        </figure>
        </div>
        <div class="card-content">
        <div class="content">
            <h3>{{ post.title }}</h3>
        </div>
        </div>
    </div>
    </a>
    </div>
{% endfor %}
</div>
<h3 class="more-text"><a href="{{include.link}}.html">... MORE</a></h3>