<nav class="navbar noprint" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://sevcik.dev">
            <span class="has-text-weight-bold">SEVCIK</span><span class="has-text-weight-light">DEV</span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarTarget">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbarTarget">
        <div class="navbar-end">
            {% for item in site.data.navigation %}
                {% if page.url == item.link %}
                    <a href="{{ item.link }}" class="navbar-item current navbar-text font-weight-medium">{{ item.name }}</a>
                {% else %}
                    <a href="{{ item.link }}" class="navbar-item navbar-text font-weight-medium">{{ item.name }}</a>
                {% endif %}
            {% endfor %}
            <div class="navbar-item buttons">
                <a onclick="window.print();return false;" class="button navbar-text navbar-button font-weight-black">Print</a>
            </div>
        </div>
    </div>
</nav>