<div>
    {% for work in site.data.resume.work %}
        <div class="columns is-vcentered">
                <div class="column">
                    {% for image in work.image %}
                        <figure class="image is-portfolio">
                            <img src="/assets/img/{{image}}">
                        </figure>
                    {% endfor %}
                </div>
                <div class="column portfolio-text">
                        <h3>{{work.position}}</h3>
                        <p><small>{{work.startDate}} to {{work.endDate}}</small></p> 
                        <p><b><a href="{{work.website}}">{{work.company}}</a></b></p>
                        {% for summary in work.summary %}
                            <p>{{summary}}</p>
                        {% endfor %}
                        <ul>
                            {% for highlight in work.highlights %}
                                <li>
                                    {{highlight}}
                                </li>
                            {% endfor %}
                        </ul>
                </div>
        </div> 
        <hr>
    {% endfor %}
</div>