<article class="noprint">
    <table class="table is-centered" style="margin: 0 auto">
        <tr>
            <th>Current status</th>
            <td>Looking for 20-40 hours/week remote</td>
        </tr>
        <tr>
            <th>Available</th>
            <td>Today</td>
        </tr>
        <tr>
            <th>Looking for</th>
            <td>Vue.js or Splunk</td>
        </tr>
        <tr>
            <th>Accepting</th>
            <td>Fully remote (strongly preferred)</td>
        </tr>
        <!-- <tr>
            <th style="border:none;"></th>
            <td><strike>On site - only highly payed with included relocation</strike> (reason is Covid-19)</td>
        </tr> -->
        <tr>
            <th style="border:none;"></th>
            <td>Temporary or long term</td>
        </tr>
        <tr>
            <th style="border:none;"></th>
            <td>Preferring contract</td>
        </tr>
    </table>
    <p>Have some offer that doesn't meet my requirements and still want to have a talk? We can chat about it at <a href="https://www.linkedin.com/in/ondrej-sevcik/">LinkedIn</a>.</p>
</article>