<article class="noprint" style="max-width: 1000px;">
  <div class="columns">
    <div class="column">
      {% responsive_image_block %}
      path: "assets/img/selfie.jpg"
      {% endresponsive_image_block %}
    </div>
    <div class="column">
      <table class="table is-centered is-fullwidth" style="margin: 0 auto">
        <tr>
          <th style="width:150px">Looking for</th>
          <td>10-20 hours/week remote</td>
        </tr>
        <tr>
          <th style="border:none"></th>
          <td>40 hours remote from 12/2020</td>
        </tr>
        <tr>
          <th>Available</th>
          <td>Today</td>
        </tr>
        <tr>
          <th>Looking for</th>
          <td>Vue.js, React or Splunk</td>
        </tr>
        <tr>
          <th>Accepting</th>
          <td>Fully remote</td>
        </tr>
        <tr>
          <th style="border:none;"></th>
          <td>Temporary or long term</td>
        </tr>
        <tr>
          <th style="border:none;"></th>
          <td>Preferring contract</td>
        </tr>
        <tr>
          <th>Working on</th>
          <td>React app for ordering groceries for local farm with deep sale analytics and shortest delivery path solution</td>
        </tr>
      </table>
      <p>Have some offer that doesn't meet my requirements and still want to have a talk? We can chat about it at
        <a href="https://www.linkedin.com/in/ondrej-sevcik/">LinkedIn</a>.</p>
    </div>
  </div>
</article>