---
layout: default
title: Portfolio
---
<h1>Portfolio</h1>
<div class="section">
    {% for post in site.categories.portfolio %}
        <div class="columns is-multiline is-vcentered">
            {% if post.title contains "T&C" %}
                {% continue %}
            {% endif %}
            <div class="column is-one-third noprint">
                <a href="{{post.url}}">
                    {% responsive_image_block %}
                        path: {{ post.image }}
                    {% endresponsive_image_block %}
                </a>
            </div>    
            <div class="column is-one-third">
                <h2>{{post.title}}</h2>
                <article>
                    {{post.excerpt}}
                    {% if post.link %}
                        <a href={{link}} class="noprint">Link </a>
                    {% endif %}
                </article>
                <br>
                {% if post.iOSLink %}
                    <a href={{post.iOSLink}} class="ma-1 noprint" target="_blank">
                        <img src="/assets/img/appstore.png">
                    </a>
                {% endif %}
                {% if post.androidLink %}
                    <a href={{post.androidLink}} class="ma-1 noprint" target="_blank">
                        <img src="/assets/img/google-play.png">
                    </a>
                {% endif %}
            </div>    
            <div class="column is-one-third">
                <table class="table">
                    {% if post.type %}
                        <tr>
                            <th>Type:</th>
                            <td>{{post.type}}</td>
                        </tr>
                    {% endif %}
                    {% if post.technology %}
                        <tr>
                            <th>Technology:</th>
                            <td>{{post.technology}}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Year:</th>
                        <td>{{post.year}}</td>
                    </tr>
                    {% if post.summary %}
                        {% for summary in post.summary %}
                            <tr>
                            {% if forloop.first %}
                                <th>Summary:</th>
                            {% else %}
                                <th style="border:none;"></th>
                            {% endif %}
                                <td>{{summary}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>   
    {% endfor %}
</div>